.container {
    text-align: center;
}
span {
    padding: 0px 8px;
}
/* button {
    background-color: #b5c9f5;
    border: 1px solid #8f8fff;
    padding: 5px;
} */

.pagination {
    margin-top: 30px;
}